{% extends "/base.html.twig" %}

{% block title %}Connexion utilisateur | {{ parent() }}{% endblock %}

{% block navbar %}{{ parent() }}{% endblock %}

{% block body %}
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('images/bg_5.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <p class="breadcrumbs"><span class="mr-2"><a href="/">Accueil</a></span> <span>Login</span>
                    </p>
                    <h1 class="mb-3">Connexion</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END slider -->
<section class="ftco-section contact-section">
    <div class="container">
        <div class="row block-9 mb-4">
            <div class="col-md-4 mx-auto text-center borderLoginForm p-5">
<form method="post" action="{{ path('login') }}">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
    #}

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
</div>
</div>
</div>
</section>

{% endblock %}
